.answer {
  flex: 0.4;
  padding: 0 20px;
}
.Quora_Box {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border: 1px solid #cecedb;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.Quora_Box:hover {
  border: 1px solid #63647f;
}
.quora_info {
  display: flex;
  align-items: center;
}

.quora_info > h5 {
  color: #93b2d7;
  font-weight: 300px;
  margin-left: 10px;
}
.quora_para {
  display: flex;
  margin-top: 1px;
  color: #939598;
  font-weight: bold;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #cecedb;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.post_1stdiv {
  display: flex;
  justify-content: space-between;
}
.post_info {
  display: flex;
  align-items: center;
}
.post_header {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-top: 0px;
}
.post_header > h5 {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
.post_header > h5:hover {
  text-decoration: underline;
}
.post_header > p {
  padding: 0px;
  margin: 0px;
  color: #63647f;
}
.post_header span {
  margin-left: 10px;
  color: blue;
}
.post_header span:hover {
  text-decoration: none;
}
.post_ques {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.post_ques h5 {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}
.post_ques h5:hover {
  text-decoration: underline;
}
.post_ques p {
  padding: 0px;
  margin: 0px;
}
.post_body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.delete > button {
  border-radius: 50%;
  border: none;
}
.delete > button:hover {
  background-color: #e0e0e2;
}
.post_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.footer_left {
  display: flex;
}
.footer_arrow {
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  width: 150px;
  background-color: #cbcce6;
  margin-right: 10px;
}
.footer_arrow > button {
  width: 100px;
  border: 1px solid #939598;
}
.footer_arrow > button:hover {
  background-color: #a8abb1;
}
.fst_btn {
  border-radius: 20px 0 0 20px;
}
.sec_btn {
  border-radius: 0 20px 20px 0;
}
.btn_right {
  margin-right: 10px;
  border: none;
}
.footer_arrow > span {
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid #63647f;
}
.MuiSvgIcon-root {
  color: #63647f;
}

/* Modals */

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}
.modal-content > h2 {
  margin-top: 40px;
}
.close-modal {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 7px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: none;
}
.close-modal:hover {
  background-color: #b8bec7;
}
.modal-content > h2,
h4 {
  margin-bottom: 0px;
}
.modal-content > p {
  padding-top: 2px;
  margin-top: 0px;
}
hr {
  margin-left: 0px;
}
.modal-content > input {
  width: 100%;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  color: rgb(241, 241, 241);
}
.modal-content > input:focus {
  outline: none !important;
  border-color: blue;
}
.header_modal {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}
.section {
  background-color: #b6c3ec;
  padding: 2px 10px;
  margin-top: 30px;
}
.user_icon {
  margin-top: 15px;
  display: flex;
  margin-bottom: 20px;
}
.user_icon > button {
  border-radius: 15px;
  padding: 2px 10px;
  border: 1px solid #939598;
  width: 30%;
}
.user_icon > .MuiSvgIcon-root {
  padding-right: 5px;
}
.ques-type {
  width: 100%;
  border-bottom: 1px solid #939598;
}
.ques-type:focus {
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid rgb(105, 105, 110) !important ;
}

.comment_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid #dee0e1;
}
.comment_sec {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8284a8;
  padding-bottom: 20px;
}
#show {
  display: none;
}
#hide {
  display: block;
}
.comment_sec > button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  width: 120px;
  border-radius: 25px;
  border: none;
}
.comment_sec > input {
  width: 70%;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
}
.each_List {
  display: flex;
  flex-direction: column;
}
.each_List > p {
  padding: 0 20px;
  margin: 0px;
}
.name {
  display: flex;
  align-items: left;
  padding: 20px 10px;
}
.name > h4 {
  padding: 0 10px;
  margin-top: 5px;
}
