.header {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.centered {
  box-sizing: border-box;
  width: 53%;
  display: flex;
  padding: 2px;
}

.logo-box {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
}

.logo-box img {
  width: 74%;
}

.icon-box1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.icon-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88%;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 20%;
  margin: 0 8px;
  box-sizing: border-box;
}

.search-bar {
  width: 36%;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1%;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  padding: 2%;
  box-sizing: border-box;
}

.search-bar input:active {
  border: 1px solid lightblue;
}

.question-btn {
  background-color: rgb(185, 43, 39);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 2%;
}
.user-logo {
  border: 1px solid red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 2%;
}
