.header {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.centered {
  box-sizing: border-box;
  width: 53%;
  display: flex;
  align-items: center;
  padding: 2px;
}

.logo-box {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
}

.logo-box img {
  width: 74%;
}
.Navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 1%;
  height: 35px;
}

.Navbar a {
  text-decoration: none;
}
.icon {
  font-size: 1.7em;
  color: lightslategrey;
}
#searchbar {
  border: 1px solid lightgray;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 35%;
  margin: 0 0 0 1.5%;
  /* z-index: ; */
}

#searchbar:focus-within {
  border: 2px solid lightblue;
}

#searchbar input {
  height: 87%;
  border: none;
  width: 70%;
}

input:focus {
  outline: none;
}

.user-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid purple; */
  height: 35px;
  width: 7.5%;
  margin: 0 0 0 1%;
}
.user-logo img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.gicon {
  font-size: 1.5em;
  color: lightslategrey;
}

.button-box {
  height: 35px;
  width: 11%;
  display: grid;
  place-items: center;
  margin: 0 1%;
}

.button-box button {
  color: white;
  background-color: #a82723;
  border: none;
  padding: 7px;
  border-radius: 15px;
  width: 100%;
}

.icondiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.dropdown li {
  list-style-type: none;
}
.wrapper {
  width: 400px;
  height: 60px;
  user-select: none;
  filter: drop-shadow(0 0 4px #0007);
}

.dropdown {
  width: 220px;
  height: auto;
  padding-top: 0px;
  padding-left: 0px;
  position: absolute;
  background-color: #fff;
  margin-top: 66px;
  margin-left: 29.5%;
  box-shadow: 0 0 3px #aaa;
  z-index: 1;
}
.dropdown::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: inherit;
  border-left: inherit;
  background-color: inherit;
  top: 0;
  right: 30px;
  z-index: -1;
  transform: translateY(-50%) rotate(45deg);
}
.dropdown li {
  color: #555;
  font-size: 15px;
  padding: 7px 26px;
}
.dropdown li:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0px 7px 8px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.dropdown li:hover {
  background-color: #e7e7e7;
}

.dropdown li:last-child {
  border: none;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

#lang {
  background-color: #2b93ec;
  padding: 6px;
  color: white;
  border-radius: 50%;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  color: currentColor;
  width: 1.4em;
  height: 1.4em;
  border: 0.15em solid rgb(71, 71, 238);
  border-radius: 50%;
  background-image: url(../Images/check.png);
}
