.sidebar {
  flex: 0.2;
}
.sidebarOption {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  height: 20px;
}

.sidebarOption:hover {
  background: rgb(211, 211, 211);
  border-radius: 5px;
}
.sidebarOption > img {
  height: 20px;
  width: 10%;
  border-radius: 5px;
  margin-left: 20px;
}

.sidebarOption > p {
  margin-left: 10px;
  color: gray;
  font-weight: 400;
  font-size: 13px;
}
