.my-box:hover {
  background-color: #e9eaea;
}
.my-box {
  width: 176px;
  cursor: pointer;
}

.qaDiv {
  justify-content: space-between;
}

.icons {
  font-size: 20px;
}

.icons2 {
  font-size: 30px;
  font-weight: 400;
}
